## Python in more depth
<H1> asdasd ad </H1>

In [3]:
x = 5
x

5

In [4]:
length = 25
width = 8
area = length * width
print(area)

200

In [5]:
type(area)

int

In [6]:
name = "test_noman.py  "
type(name)

str

In [ ]:
myName = "That is my name"
print(myName)

print(2 + 5 * 8)
print(2 + 5.0 * 8)
# print(quotient)
quotient = 13 / 2
print(quotient)

In [7]:
print(type(name))

<class 'str'>

In [9]:
# need to understand the basic mathematical operations 
print(2 + 3)
2.2 + 3.4
3-1
3.4 - 1.1
2 * 3
3 + 3.1
3.0/2
3/2
3.0/2
3//2
9 % 4
9 % 3
9 % 5

# 125 minutes is 2 hours and 5 minutes
125 // 60
125 % 60

3**2
2**3
4**0.5
9**0.5

5

3.0

In [11]:
125 % 60

5

In [12]:
3**2

9

In [14]:
#2 + 5 * 8
2 * 5 + 8
#2 * (5 + 8)

18

In [17]:
print("David" + " has no other name")
print(5 * ("Simple" + " "))
print(5*8)

David has no other name
Simple Simple Simple Simple Simple
40

In [27]:
print("42       "                                   +"30")
#print(42+"30") 
# type casting

type(str(42))

type(int("42"))

42       30

int

In [ ]:
# some more experiements
print(42+13) # output is 55
print("42"+"13") # output is 4213 - string cancatenation
print ("42" + 13) # does not work, why?

# type casting
print("42" + str(13))

print(int("42") +13) # it works ! why?

print(float(42+13))

print(float(42)+float(13))

# type checking
type(david)
type(42+13)
type(42.5+13.5)
type("42")

In [29]:
print(float(42))

42.0

In [ ]:
print("here is he result" + str(42+13)))

In [30]:
print("Hello. It's lovely to see you.")
print("I said hello, lovely to see you.")
print('I said hello, lovely to see you.')

Hello. It's lovely to see you.
I said hello, lovely to see you.
I said hello, lovely to see you.

In [33]:
def printMyMsgs():
    print("Hello. It's lovely to see you.")
    print("I said hello, lovely to see you.")
    print('I said hello, lovely to see you.')

I said hello, lovely to see you.
I said hello, lovely to see you.

In [34]:
printMyMsgs()

Hello. It's lovely to see you.

In [ ]:
printMyMsgs <- function()
{
print("Hello. It's lovely to see you.")
print("I said hello, lovely to see you.")
print('I said hello, lovely to see you.')
}

In [ ]:
printMyMsgs()

In [38]:
def anotherFunc(x):
    y = x**2
    print (y)

In [39]:
anotherFunc(3)

9

In [54]:
def doFunMath1(x,y):
    z = x+y+1
    return z

In [55]:
myvar1 = doFunMath1(3,4)
myvar1

8

In [56]:
def doFunMath2(x,y):
    z = x+y+1
    print(z)

In [57]:
myvar2 = doFunMath2(3,4)
myvar2

8

In [58]:
myStr = "Hello World"
#https://docs.python.org/3/library/stdtypes.html#string-methods

In [61]:
myStr.lower()
myStr.upper()

'HELLO WORLD'

In [64]:
myStr[5]
myStr[6]

'W'

In [65]:

myStr[6] = 'X' # strings are immutable

TypeError: 'str' object does not support item assignment

# Python complex data structures

In [66]:
#list
names = ['Henry', ['Simon','Kimon'], 'Keith', 34, True,'Eugene']
names
names[3]

34

In [68]:
listC = [ "Food groups", 
         ["protein", ["meat", "fish", "egg", "soy"]], 
         ["carbohydrate",["sugar", "starch"]], 
         ["fat", ["oil", "lard", "butter"]],
         ["drinks", ["coffee", "milk", "corbonated"]]
        ]

In [76]:
listC[2][1][0]

'sugar'

In [81]:
nameList = ['P','e','n','n','y']
nameList[1] = 'o'
nameList # lists are mutable

['P', 'o', 'n', 'n', 'y']

In [ ]:
name = 'Penny'

In [ ]:
list()

In [87]:
names = ['Henry', 'Simon', 'Keith', 34, True,'Eugene']
type(names)
names[3]

34

In [84]:
names = {'Henry', 'Simon', 'Keith', 34, True,'Eugene'}
type(names)

set

In [88]:
names = ('Henry', 'Simon', 'Keith', 34, True,'Eugene')
# names[1] = 'noman'
type(names)
names[3]

34

In [89]:
names = {"std1": 'Henry', "std2": 'Simon', "std3": 'Keith',"std4": 'Eugene'}
type(names)

dict

In [94]:
height = [1.52, 1.75, 1.93, 1.45, 1.72]
xyz = {
              'boat' : "lots of fun", 
              'wedding':"a form of ceremony", 
              'eclair': "a cake, long in shape but short in duration", 
              'pink':"a yellow lake", 
              'ynambu':"a very large tinamou"
             }

print(height[2])
print(xyz['boat'])

print(xyz.keys())
print(xyz.values())

1.93
lots of fun
dict_keys(['boat', 'wedding', 'eclair', 'pink', 'ynambu'])
dict_values(['lots of fun', 'a form of ceremony', 'a cake, long in shape but short in duration', 'a yellow lake', 'a very large tinamou'])