In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.linear_model import LogisticRegression, LinearRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from sklearn.impute import SimpleImputer, KNNImputer

In [4]:
# Load data
data = pd.read_csv(r'C:\Users\noman\My Drive\ABP\ABP DSBA Batch 03\Unit 03\Seesion 02_missing data\breast-cancer-wisconsin.txt', header=None, na_values='?')
data.head()

        0   1   2   3   4   5     6   7   8   9   10
0  1000025   5   1   1   1   2   1.0   3   1   1   2
1  1002945   5   4   4   5   7  10.0   3   2   1   2
2  1015425   3   1   1   1   2   2.0   3   1   1   2
3  1016277   6   8   8   1   3   4.0   3   7   1   2
4  1017023   4   1   1   3   2   1.0   3   1   1   2

In [5]:
data.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [6]:
# Add column names
cols = ['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11']

In [7]:
cols

['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11']

In [8]:
data.columns = cols

In [9]:
data.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11'], dtype='object')

In [19]:
data['V7'].unique()

array([ 1., 10.,  2.,  4.,  3.,  9.,  7., nan,  5.,  8.,  6.])

In [11]:
print(data.isnull().sum())

V1      0
V2      0
V3      0
V4      0
V5      0
V6      0
V7     16
V8      0
V9      0
V10     0
V11     0
dtype: int64

In [15]:
# Check for missing values
data.replace('?', np.nan, inplace=True)
print(data.isnull().sum())
data['V7'] = data['V7'].astype(float)
print(data.isnull().sum())

V1      0
V2      0
V3      0
V4      0
V5      0
V6      0
V7     16
V8      0
V9      0
V10     0
V11     0
dtype: int64
V1      0
V2      0
V3      0
V4      0
V5      0
V6      0
V7     16
V8      0
V9      0
V10     0
V11     0
dtype: int64

In [22]:
print(data.isnull().sum())

V1      0
V2      0
V3      0
V4      0
V5      0
V6      0
V7     16
V8      0
V9      0
V10     0
V11     0
dtype: int64

In [21]:
# Preprocess target variable (V11)
data['V11'] = data['V11'].replace({2: 0, 4: 1})
data.dropna(subset=['V11'], inplace=True)
# some random rows to check
data.sample(5)

          V1  V2  V3  V4  V5  V6   V7  V8  V9  V10  V11
30   1070935   3   1   1   1   1  1.0   2   1    1    0
142  1183983   9   5   5   4   4  5.0   4   3    3    1
44   1103608  10  10  10   4   8  1.0   8  10    1    1
92   1157734   4   1   1   1   2  1.0   3   1    1    0
579   824249   1   1   1   1   2  1.0   3   1    1    0

In [23]:
X = data.drop(columns=['V1', 'V11'])
X.head()

   V2  V3  V4  V5  V6    V7  V8  V9  V10
0   5   1   1   1   2   1.0   3   1    1
1   5   4   4   5   7  10.0   3   2    1
2   3   1   1   1   2   2.0   3   1    1
3   6   8   8   1   3   4.0   3   7    1
4   4   1   1   3   2   1.0   3   1    1

In [24]:
y = data['V11']
y.sample(5)

416    1
585    0
377    0
29     0
697    1
Name: V11, dtype: int64

In [25]:
train_test_split(X, y, test_size=0.3, random_state=42)

[     V2  V3  V4  V5  V6    V7  V8  V9  V10
 357   8  10  10   7  10  10.0   7   3    8
 648   5  10  10  10  10   2.0  10  10   10
 291   1   1   1   1   2   1.0   3   1    1
 420   3   2   2   3   2   3.0   3   1    1
 177   5  10  10   3   8   1.0   5  10    3
 ..   ..  ..  ..  ..  ..   ...  ..  ..  ...
 71    6  10   2   8  10   2.0   7   8   10
 106  10  10  10   8   2  10.0   4   1    1
 270   8   4   7   1   3  10.0   3   9    2
 435  10   8  10   1   3  10.0   5   1    1
 102   4   1   2   1   2   1.0   3   1    1

 [489 rows x 9 columns],
      V2  V3  V4  V5  V6    V7  V8  V9  V10
 158   1   1   2   1   3   NaN   1   1    1
 499   4   1   1   1   2   1.0   2   1    1
 396   3   1   1   1   2   1.0   3   1    1
 155   5   5   5   6   3  10.0   3   1    1
 321   3   1   1   1   2   NaN   3   1    1
 ..   ..  ..  ..  ..  ..   ...  ..  ..  ...
 11    2   1   1   1   2   1.0   2   1    1
 659   1   1   1   1   2   1.0   1   1    1
 567   4   1   1   1   2   3.0   2   1    1
 178   4   1   1   1   2   1.0   3   1    1
 533   3   1   1   1   2   1.0   2   1    1

 [210 rows x 9 columns],
 357    1
 648    1
 291    0
 420    0
 177    1
       ..
 71     1
 106    1
 270    1
 435    1
 102    0
 Name: V11, Length: 489, dtype: int64,
 158    0
 499    0
 396    0
 155    1
 321    0
       ..
 11     0
 659    0
 567    0
 178    0
 533    0
 Name: V11, Length: 210, dtype: int64]

In [26]:
X = data.drop(columns=['V1', 'V7','V11'])
X.head()

   V2  V3  V4  V5  V6  V8  V9  V10
0   5   1   1   1   2   3   1    1
1   5   4   4   5   7   3   2    1
2   3   1   1   1   2   3   1    1
3   6   8   8   1   3   3   7    1
4   4   1   1   3   2   3   1    1

In [27]:
y = data['V11']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: V11, dtype: int64

In [28]:
model = LogisticRegression(max_iter=1000)
model.fit(X, y)
y_pred = model.predict(X)
accuracy_score(y, y_pred)

0.9613733905579399

In [29]:
# testing the logisticregression code which we will run after each missing-value-handling strategy

X = data.drop(columns=['V1','V7', 'V11'])
y = data['V11']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

# print(classification_report(y_test, y_pred))
# print(confusion_matrix(y_test, y_pred))
accuracy_scores  = accuracy_score(y_train, y_pred_train)
print(accuracy_scores)

0.9529652351738241

In [30]:
# Function to run logistic regression and return accuracy
def run_logistic_regression(data):
    
    X = data.drop(columns=['V1', 'V11'])
    y = data['V11']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    model = LogisticRegression(max_iter=1000)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [31]:
# Original data accuracy without handling missing values
dataremovedna = data.dropna(subset=['V7'])
print("Original data accuracy:", run_logistic_regression(dataremovedna))

Original data accuracy: 0.9560975609756097

In [32]:
# 1. Remove rows with missing values in V7
data_removed = data.dropna(subset=['V7'])
print("Accuracy after removing rows with missing values:", run_logistic_regression(data_removed))

Accuracy after removing rows with missing values: 0.9560975609756097

In [33]:
# 2. Replace missing values with mean using SimpleImputer
imputer_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
data_mean = data.copy()
data_mean['V7'] = imputer_mean.fit_transform(data_mean[['V7']])
print("Accuracy after replacing with mean:", run_logistic_regression(data_mean))

Accuracy after replacing with mean: 0.9523809523809523

In [34]:
# 3. Replace missing values with mode using SimpleImputer
imputer_mode = SimpleImputer(strategy='most_frequent')
data_mode = data.copy()
data_mode['V7'] = imputer_mode.fit_transform(data_mode[['V7']])
print("Accuracy after replacing with mode:", run_logistic_regression(data_mode))

Accuracy after replacing with mode: 0.9619047619047619

In [35]:
# 4. Replace missing values with an arbitrary number (e.g., 0) using SimpleImputer
imputer_arbitrary = SimpleImputer(strategy='constant', fill_value=0)
data_arbitrary = data.copy()
data_arbitrary['V7'] = imputer_arbitrary.fit_transform(data_arbitrary[['V7']])
print("Accuracy after replacing with arbitrary number:", run_logistic_regression(data_arbitrary))

Accuracy after replacing with arbitrary number: 0.9666666666666667

In [36]:
# 5. Replace missing values using KNN imputer
knn_imputer = KNNImputer(n_neighbors=5)
data_knn = data.copy()
data_knn[['V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10']] = knn_imputer.fit_transform(data_knn[['V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10']])
print("Accuracy after KNN imputation:", run_logistic_regression(data_knn))

Accuracy after KNN imputation: 0.9523809523809523

In [117]:
# 6. Replace missing values using linear regression of other predictors
data_reg = data.copy()
train = data_reg[data_reg['V7'].notnull()]
test = data_reg[data_reg['V7'].isnull()]
lin_reg = LinearRegression()
lin_reg.fit(train.drop(columns=['V1', 'V7', 'V11']), train['V7'])
predictions = lin_reg.predict(test.drop(columns=['V1', 'V7', 'V11']))
data_reg.loc[data_reg['V7'].isnull(), 'V7'] = predictions
print("Accuracy after regression imputation:", run_logistic_regression(data_reg))

Accuracy after regression imputation: 0.9523809523809523

In [118]:


# 7. Replace missing values using linear regression with perturbation
data_reg_perturb = data.copy()
train = data_reg_perturb[data_reg_perturb['V7'].notnull()]
test = data_reg_perturb[data_reg_perturb['V7'].isnull()]
lin_reg = LinearRegression()
lin_reg.fit(train.drop(columns=['V1', 'V7', 'V11']), train['V7'])
predictions = lin_reg.predict(test.drop(columns=['V1', 'V7', 'V11']))

perturbations = np.random.normal(0, 1, size=predictions.shape)


data_reg_perturb.loc[data_reg_perturb['V7'].isnull(), 'V7'] = predictions + perturbations
print("Accuracy after regression imputation with perturbation:", run_logistic_regression(data_reg_perturb))

Accuracy after regression imputation with perturbation: 0.9619047619047619